offer a MAY for implementors who may not want to ensure their address is checksum neutral

Notes:
- there are hardware offloads for checksum recalculations today that lower the burden for implementors who do not use checksum neutral addresses
- this would simplify the logic of defining an address

Yes! I think the whole checksum neutrality is a bit overrated.

The whole 464XLAT will almost never be checksum neutral, unless the PLAT has a huge pool of /16 IPv4 and do some clever address selection based on source IPv6 address.

So all the hypothetical unknown application protocols  that would not be broken by CLAT if checksum neutral address is used would still get eventually broken by PLAT.

Thanks for calling this out, Tommy. I believe the checksum adjustment algorithm from RFC 3022, section 4.2 can be applied here:

[[4.2](https://www.rfc-editor.org/rfc/rfc3022#section-4.2). Checksum Adjustment](https://datatracker.ietf.org/doc/html/rfc3022#section-4.2)

Since all of the relevant checksums are using simple ones' complement sums, we should be able to cache the checksum difference between the v4 CLAT address and the v6 CLAT address, and then the adjustment becomes a very simple O(1) operation of adding/carrying an additional 16 bits to the checksum for each packet.

I still see benefits for checksum neutrality:

* performance. I've just spent significant amount of time troubleshooting jitter which seems to be caused by clat on the machine. Monitoring PLAT performance and scale accordingly is easier, as those systems are under control of the network operator.
* ability to support new upper-layer protocols.
So while we may add 'MAY', we probably SHOULD have some text, which would outline drawbacks.

Thanks for bringing up those points.

Re: performance, I'm curious if the CLAT code was re-summing all of the bytes in each packet/datagram when calculating new checksums (an O(n) algortithm?). I could see that causing a performance hit, but it's harder for me to imagine the single addition operation from RFC 3022 section 4.2's algorithm causing much of a blip on the radar.

I also believe this is somewhat likely to turn into a latency vs. throughput issue w.r.t. to initial setup, as machines will be trying to create checksum-neutral addresses for the same 192.0.0.0/29 IPv4 address space, and there are bound to be collisions between IPv6 checksum-neutral addresses, which would potentially add extra _seconds_ to the initialization time for additional DAD checks, as opposed to nanoseconds for each O(1) checksum adjustment operation.

Re: compatibility with upper-layer protocols, from what I understand, checksum-neutral addresses are only guaranteed to be useful if these new protocols are also using 16-bit ones' complement sums (by definition, a "checksum-neutral address" is "IP-checksum neutral" right?), so the O(1) algorithm from RFC 3022 section 4.2 would have the same effectiveness there.

It seems like some implementors may prefer to use checksum-neutral addresses, while others may prefer to use the O(1) adjustment algorithm. Implementors could even make this a system-admin-adjustable parameter for those who want to choose optimization of either latency or throughput.

There's probably no reason to use an O(n) algorithm in software for the checksum adjustment, except for ease of re-using existing code. The code can just cache the 16-bit integer difference between the IP-checksum of the v6 address bytes and the IP-checksum of the v4 address bytes, and adjust each packet's checksum by adding that single value.

Just following up with one more thought, one way to handle this in the text might be to specify something along the lines that implementors "SHOULD use checksum-neutral IPv6 addresses, the O(1) checksum adjustment algorithm described in RFC 3022 section 4.2, or some other means of checksum adjustment that takes advantage of the constant difference between IPv4 and IPv6 checksums for translated packets. Implementors SHOULD NOT recalculate entire IPv6 checksums for packets where an IPv4 checksum has already been calculated, as the previously mentioned O(1) techniques offer greater efficiency."

Not sure about the language there, but maybe that contrast would be a good way to illustrate the concept of efficient checksum adjustment?

Feel free to re-open with justification, but after discussing with Jen and our dev team, I don't see a reason to specify the MAY when the requirement is a SHOULD (not a MUST). Implementors are free to justify a deviation if they wish since there's no requirement on the PLAT to expect this or reject traffic that isn't using checksum-neutral addresses.

SHOULD is the same as RECOMMENDED per RFC 2119, and using checksum-neutral addresses ought to be the default recommendation to general implementors unless they understand and opt into the responsibility of handling transport header recalculation (which the text calls out is necessary when doing so). 

Thanks for the reply. I think there is probably some lack of communication here, maybe because of the long-winded posts on my side 🙂

"**Checksum-neutral address**" in this case is short for "**_16-bit ones'-complement_-checksum neutral address**". Its neutrality is **totally** dependent on the upper layer protocol using the same checksum as TCP and UDP. It doesn't offer any compatibility advantages over the O(1) checksum adjustment algorithm.

Differences in throughput are likely to be negligible, as the addition operation for O(1) adjustment is computationally cheap, probably 1-2 CPU cycles, regardless of message size.

With the IPv4 prefix being a /29, the risk of collisions on the IPv6 side is likely to be high. Collisions would lead to increased latency for establishing connectivity.

I know the checksum-neutral-address text isn't a MUST, but I think it's inaccurate to say that people generally SHOULD take that approach. It's more complicated to implement, and brings a higher risk of collisions in the IPv6 space. The only benefit that it seems to offer is saving 1-2 CPU cycles per packet, which ain't much.

I would recommend something like the following text:

"SHOULD use checksum-neutral IPv6 addresses, the O(1) checksum adjustment algorithm described in RFC 3022 section 4.2, or some other means of checksum adjustment that takes advantage of the constant difference between IPv4 and IPv6 checksums for translated packets. Implementors SHOULD NOT recalculate entire IPv6 checksums for packets where an IPv4 checksum has already been calculated, as the previously mentioned O(1) techniques offer greater efficiency."