Conflict with RFC 8781 on priority order of prefix discovery mechanisms

After a thorough re-reading and much cross referencing, I realized that the proposed updates to RFC 8585 Section 3.2.1 conflict with the text given in RFC 8781 Section 5.1 regarding the priority order of multiple sources of the NAT64 prefix:

From this draft, reformatted from XML for legibility:

> If the network provides several choices for the
> discovery/learning of the NAT64 prefix, the priority to
> use one or the other MUST follow this order:
> - RFC8781 (PREF64 RA)
> - RFC7225 (PCP)
> - RFC7050 (resolving an IPv4-only FQDN)

From RFC 8781 Section 5.1, reformatted for legibility:

> When different PREF64s are discovered using multiple mechanisms, hosts select one
> source of information only. The order is:
> - PCP-discovered prefixes , if supported; 
> - PREF64s discovered via the RA Option; 
> - PREF64s resolving an IPv4-only fully qualified domain name

For the record, I agree with and prefer the order given in this draft (RA beats PCP), but I think we need to resolve the conflict one way or the other.
