Consider guidance for networks where devices can only get one /128 allocation

From Tore on list:

> While it is certainly all well and good to document best current practices for operators of IPv6-mostly networks in the m6ops draft, the recommendations in the claton draft do not target network operators at all, nor do they apply solely to CLATs that will only be located in IPv6-mostly networks.
The recommendations in the claton draft target CLAT implementations generally. Therefore, its guidance ought to be generic and pragmatic enough to ensure the CLAT is robust enough to operate correctly in all kinds of network deployments it might reasonably expect to encounter.


@furry13 curious on your thoughts here -- avoiding a PR until (1) we come to editor consensus on addressing this issue and (2) Tore's further thoughts on specific text, but noting my initial suggestion here so I can find it later if I end up issuing a PR:

>"When CLAT nodes discovers one or more PLAT-side translation IPv6 prefixes on a network for which it cannot acquire a dedicated IPv6 address for CLAT functions (because the network does not support SLAAC, PD, or other future mechanisms that allocate prefixes to client shorter than /128), CLAT functionality is still possible if the CLAT node wishes to take on the responsibility for operating in stateful mode as defined in section 1.3 of RFC7915. Section 6 of RFC 7915 provides additional guidance for this mode of operation."