Address  last call Dnsdir review

From Nicolai Leymann:

Reviewer: Nicolai Leymann
Review Result: Ready with Nits

I have reviewed this document as part of the DNS directorate's ongoing effort
to review all IETF documents being processed by the IESG.  These comments were
written with the intent of improving the operational aspects of the IETF
drafts. Comments that are not addressed in last call may be included in AD
reviews during the IESG review.  Document editors and WG chairs should treat
these comments just like any other last call comments.

The draft is well written and easy to understand. It updates RFC6877 (464XLAT:
Combination of Stateful and Stateless Translation) and RFC8585 (Requirements
for IPv6 Customer Edge Routers to Support IPv4-as-a-Service) and proposes new
text for RFC8585.

I focused on the DNS related aspects during the review and found no issues
related to DNS. There are a few references to DNS which I checked. Also, the
proposed changes to RFC8585 do not change the way how DNS is being used.

The security section states that attackers can spoof DNS responses for the
NAT64 prefix detection (referring to RFC7050 which was published in 2013). I
think it should be mentioned that there are now several protocols available
such as DoH, DoT and DoQ providing a way to mitigate/reduce the risk of spoofed
DNS responses.

Nits:

Section 7.1:
  - Old: [RFC8978] discusses various examples of "flash renumbering,"
  - New: [RFC8978] discusses various examples of "flash renumbering",

  - Old: has changed it state from being reachable
  - New: has changed it's state from being reachable

#76 closes this